@syntax-text-color: #d9d1ce;
@syntax-cursor-color: #ff8c42;
@syntax-selection-color: #4a312a;
@syntax-selection-flash-color: #ffb86c;
@syntax-background-color: #1a1614;

@syntax-wrap-guide-color: rgba(217, 209, 206, 0.05);
@syntax-indent-guide-color: rgba(217, 209, 206, 0.1);
@syntax-invisible-character-color: rgba(217, 209, 206, 0.15);

@syntax-result-marker-color: #8c7b75;
@syntax-result-marker-color-selected: #ff8c42;

@syntax-gutter-text-color: #8c7b75;
@syntax-gutter-text-color-selected: #d9d1ce;
@syntax-gutter-background-color: #26201d;
@syntax-gutter-background-color-selected: rgba(255, 140, 66, 0.15);

@syntax-color-renamed: #ffb86c;
@syntax-color-added: #84c98b;
@syntax-color-modified: #f07167;
@syntax-color-removed: #ef476f;

@syntax-color-variable: #f2a285;
@syntax-color-constant: #ef476f;
@syntax-color-property: #d9d1ce;
@syntax-color-value: #ffd166;
@syntax-color-function: #ff5c5c;
@syntax-color-method: @syntax-color-function;
@syntax-color-class: #ffb86c;
@syntax-color-keyword: #ff7a45;
@syntax-color-tag: #ff7a45;
@syntax-color-attribute: #f07167;
@syntax-color-import: @syntax-color-keyword;
@syntax-color-snippet: @syntax-color-constant;