.syntax--source.syntax--css {
  .syntax--entity {
    &.syntax--function {
      color: #d9d1ce;

      &.syntax--support {
        color: #ff5c5c;
      }
    }

    &.syntax--selector {
      color: #f07167;

      &.syntax--tag {
        color: #ff7a45;
        text-decoration: underline;
      }

      &.syntax--id {
        color: #ef476f;
      }

      &.syntax--class {
        color: #ffb86c;
      }
    }

    &.syntax--property {
      &.syntax--support {
        color: #d9d1ce;
      }
    }

    &.syntax--variable {
      color: #f2a285;
    }

    &.syntax--keyframe {
      color: #f2a285;
    }
  }

  .syntax--constant {
    color: #d9d1ce;

    &.syntax--support {
      color: #ffd166;
    }

    &.syntax--numeric {
      color: #84c98b;

      &.syntax--unit {
        color: #84c98b;
      }
    }

    &.syntax--media {
      color: #ffb86c;
    }

    &.syntax--color {
      color: #84c98b;
    }

    &.syntax--offset {
      color: #ffb86c;

      &.syntax--unit {
        color: #ffb86c;
      }
    }
  }

  .syntax--punctuation {
    color: #d9d1ce;

    &.syntax--wildcard {
      color: #ff7a45;
      text-decoration: underline;
    }
  }
}