.tree-view {
  font-size: @font-size + 1px;
  background: @tree-view-background-color;
  color: @text-color-subtle;

  padding-top: @component-padding / 2;

  .list-item,
  .list-nested-item > .list-item {
    padding: 4px @component-padding 4px (@component-padding + @component-icon-padding);
    border-radius: 0;
    transition: background-color 140ms ease-out, color 140ms ease-out;
  }

  .list-item:hover:not(.selected) {
    background-color: fade(@background-color-highlight, 55%);
    color: @text-color;
  }

  .selected {
    color: @text-color-highlight;

    &:before {
      background: @background-color-selected;
      box-shadow: inset 3px 0 0 fade(@accent-color, 90%);
    }
  }
}

.tree-view-resizer {
  .tree-view-resize-handle {
    width: 8px;
  }
}

.focusable-panel {
  opacity: 1;
  box-shadow: inset -3px 0 0 rgba(0,0,0, .05);

  &:focus {
    background: darken(@tree-view-background-color, 4%);

    .selected:before {
      background: @background-color-selected;
    }
  }
}

[data-show-on-right-side=true] {
  .tree-view .selected:before,
  .focusable-panel {
    box-shadow: inset 3px 0 0 rgba(0,0,0, .05);
  }
}
